.jui-showimgs .main-subcontainer {
    width: 100%;
    height: 100%;
    background-color: #C0C0C3;
}

.jui-showimgs .main-image {
    width: 100%;
    height: 100%;
}

.jui-showimgs .main-heading {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: #ffff00;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    width: 100%;
    height: 16%;
}

.jui-showimgs .main-heading .heading-far-left {
    width: 15%;
}

.jui-showimgs .main-heading .heading-left {
    width: 10%;
}

.jui-showimgs .main-heading .main-title {
    width: 50%;
}

.jui-showimgs .main-heading .heading-right {
    width: 10%;
}

.jui-showimgs .main-heading .heading-far-right {
    width: 15%;
}
