.jui-showimgs .main-subcontainer {
    width: 100%;
    height: 100%;
    background-color: #C0C0C3;
}

.jui-showimgs .main-image {
    height: 100%;
}

.jui-showimgs .main-image-additions1 {
    width: 100%
}

.jui-showimgs .main-image-additions2 {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jui-showimgs .main-table-for-images {
    height: 68%;
    width: 100%;
}

.jui-showimgs .main-table-for-images .main-table-images-tr1 {
    height: 68%;
    width: 100%;
}

.jui-showimgs .main-table-for-images .main-table-images-td {
    border-style: solid;
    border-width: 0.1em;
    width: 33%;
    height: 68%;
}

.jui-showimgs .main-table-for-images img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jui-showimgs .main-heading {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 13em;
    font-weight: bold;
    color: #ffff00;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    width: 100%;
    height: 33%;
}

.jui-showimgs .main-heading .heading-far-left {
    vertical-align: top;
    width: 14%;
}

.jui-showimgs .main-heading .heading-left {
    vertical-align: middle;
    font-size: 0.5em;
    width: 9%;
}

.jui-showimgs .main-heading .main-square {
    /*vertical-align: bottom;*/
    width: 54%;
}

.jui-showimgs .main-heading .main-square .main-square-table {
    width: 100%;
    height: 100%;
}

.jui-showimgs .main-heading .main-square .main-square-table .main-square-table-r1 {
    font-size: 0.3em;
    height: 70%;
}

.jui-showimgs .main-heading .main-square .main-square-table .main-square-table-r2 {
    font-size: 0.3em;
    height: 25%;
}

.jui-showimgs .main-heading .main-square .main-square-table .main-square-table-r3{
    font-size: 0.08em;
    height: 5%;
}

.jui-showimgs .main-heading .heading-right {
    vertical-align: middle;
    font-size: 0.5em;
    width: 9%;
}

.jui-showimgs .main-heading .heading-far-right {
    vertical-align: top;
    width: 14%;
}

.jui-showimgs .modal-dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  padding: 2em;
  color: #00ff00;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity: 0.8;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.jui-showimgs .modal-dialog button {
  font-size: 2em;
  opacity:1;
  margin: 0.1em;
	pointer-events: auto;
}

.jui-showimgs .modal-hide {
  display: none;
}

.jui-allimgs-div-group {
    border-style: dotted;
    border-width: 2px;
}

.jui-allimgs-span-img {
    border-style: none dotted none dotted;
    border-width: 1px;
}

.jui-allimgs-span-img img {
    display: inline;
}
