
.holder {
  width: 60em;
  height: 34em;
  border-color: gray;
  border-style: dashed;
  border-width: 0.1em;
}

.dropzone {
  position: relative;
  top: 60.4%;
  background-color: #ccc;
  width: 58.2em;
  height: 11.6em;
  border: dashed 1em transparent;
  z-index: -1;
  vertical-align: bottom;
}

.draggable {
  width: 4em;
  height: 4em;
  float:left;
  background-color: #2196F3;
  color: white;
  padding: 0.5em;
  margin: 0.8em;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #000;
  color: #FFF;
  border-color: #fff;
  border-style: solid;
}

.letter-inside {
    position: relative;
    text-align: center;
    top: 8%;
    font-size: 3em;
}

.voice {
  width: 4em;
  height: 4em;
  float:left;
  background-color: #2196F3;
  color: white;
  padding: 0.5em;
  margin: 0.8em;
}

.voice-image {
  width: 4em;
  height: 4em;
}

.imagezone {
  position: relative;
  top: 2.4%;
  background-color: #AEC6CF;
  width: 11em;
  height: 11.4em;
  border: dashed 1em transparent;
  z-index: 1;
  float: right;
}

#zone-image {
  width: 11em;
  height: 11em;
}
